
# Byte-compiled / optimized / DLL files
__pycache__/
*.json
# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Vscode
.vscode

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


#folder
Ml/Dataset
Ml/Backup
VHDL/
